@use '../../styles/mixins'as *;

.container {
    font-family: 'NotoSans';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    margin-left: 3rem;
    width:100%;
    text-align: center;
    font-size: 1rem;
    @include tablet {
        text-align: left;
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__information {
        width: 75%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
           display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
    &__logos {
        margin-top: 1rem;
        @include tablet {
         display: flex;
        flex-direction: column;
        margin: 0 0 0 2rem;
        }
    }
    &__name {
        font-size: 1.85rem;
        height: 4rem;
    }
}
.social {
    transition: 2s ease;
    color: #6521ff;
    border-radius: 25px;
    margin: 1rem;
}

.social:hover {
    transform: scale(1.5);
    cursor: pointer;
    transition: 1.5s;
    }

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}