@use '../../styles/mixins'as *;

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact {
    margin: auto 1rem;
    font-family: 'NotoSans';
    display: flex;
    flex-direction: column;
    @include tablet {
        display: flex;
        margin: auto 8rem;
    }
    @include desktop {
        margin: auto 18rem;
    }
}

.contact__title--container {
    display: flex;
    justify-content: center;
} 

.button__container {
    display: flex;
    justify-content: center;
}
.contact__title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: white;
}
