@use './styles/mixins' as *;
@use './styles/partials/fonts'as *;



html {
    background-color: white;
    color: black;
    font-family: 'NotoSans',Verdana, Geneva, Tahoma, sans-serif;
    // background-image: url();
    
    background: linear-gradient(rgb(50, 50, 50, 0.5),
            rgb(50, 50, 50, 0.5)),
        url('../src/Images/background.jpg');
    // background-position: center;
    // background-size: cover;
}
